:root {
  /*Styles*/
  --line: solid 2px var(--lineColor);
  --headerHeight: 5rem;
  --containerPadding: 10%;

  /*Elevations*/
  --boxShadow: 0 2px 18px rgb(34 34 34 / 20%);
  --boxShadowHover: 3px 6px 23px rgb(40 40 40 / 20%);
  --cardTransition: box-shadow 200ms;

  /* Fonts */
  --cardWidth: 20rem;
  --cardGap: 5rem;
  --cardCols: 1;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Content Containers */
.pdf-link {
  margin: auto;
  width: var(--contentDivWidth);
}

.nav-icon {
  height: var(--h5);
  vertical-align: middle;
}

.icon {
  color: var(--navHover);
}

.intro svg {
  height: var(--h3);
}

.pdf-link a {
  color: var(--anchorColor);
  font-size: var(--h4);
}

html {
  font-size: var(--baseFontSize);
  box-sizing: border-box;
}

body {
  background: var(--background);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--textColor);
}

object.resume {
  height: 80vh;
}

.contentDiv {
  margin: auto;
  width: var(--contentDivWidth);
  min-height: calc(100vh - var(--headerHeight));
  padding-bottom: 5rem;
  padding-top: 3rem;
  max-width: 100vw;
  margin-top: var(--headerHeight);
}

.contentDiv img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  overflow: auto;
  max-width: 90vw;
}

/* Text */

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  font-size: var(--h2)
}

h2 {
  font-size: var(--h3)
}

h3 {
  font-size: var(--h4);
}

h4 {
  font-size: var(--h5);
}

h5 {
  font-size: var(--h5);
}

.h3 {
  font-size: var(--h3);
}

.h4 {
  font-size: var(--h4);
}

.h5 {
  font-size: var(--h5);
}

.underline {
  border-bottom: 3px solid var(--textColor);
}

.skills-list {
  margin-top: 0;
  font-family: var(--headingFont);
}

.intro {
  max-width: 90vw;
  margin: auto;
}

.home-header {
  display: none;
  font-family: var(--headingFont);
}

small,
.text_small {
  font-size: var(--smallText);
}

h1.mobile-h1 {
  font-size: var(--h3);
  padding: 1rem 1rem 0 1rem;
}

a {
  text-decoration: none;
  color: var(--linkColor);
}

p a {
  color: var(--anchorColor);
}

a.anchor {
  color: var(--anchorColor);
}

/* Header */
header h2 {
  line-height: var(--headerHeight);
  margin: 0;
  font-size: var(--h4);
}

button#theme-toggle {
  background: none;
  border: none;
  color: var(--textColor);
}

button#theme-toggle-mobile {
  background: none;
  border: none;
  color: var(--textColor);
}

header nav a {
  font-family: var(--headingFont);
}


#bulb {
  display: none;
}

#moon {
  display: none;
}

#bulb-mobile {
  display: none;
}

#moon-mobile {
  display: none;
}

header {
  box-shadow: var(--boxShadow);
}

header.mobile {
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100vw;
  line-height: var(--headerHeight);
}

header.mobile nav {
  display: flex;
  justify-content: space-between;
}

div.mobile-social {
  position: fixed;
  top: var(--headerHeight);
  background: var(--cardBg);
  right: 0;
  padding-right: 1rem;
  padding-left: 1rem;
  height: 10rem;
  display: none;
  display: grid;
}


div.mobile-social a {
  line-height: 2rem;
  color: var(--textColor);
}

div.mobile-social button {
  height: 2rem;
  color: var(--textColor);
}

header {
  background-color: var(--headerColor);
}

header.desktop {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: var(--headerHeight);
  display: none;
  justify-content: space-between;
}

header a {
  --anchorText: var(--white);
  font-size: var(--h4);
  line-height: var(--headerHeight);
  margin: 0;
  color: var(--anchorText);
}

header button {
  cursor: pointer;
  --anchorText: var(--white);
  font-size: var(--h4);
  line-height: var(--headerHeight);
  margin: 0;
  color: var(--anchorText);
}

header a {
  --anchorText: var(--navText);
  color: var(--anchorText);
}

header a:hover {
  --anchorText: var(--navHover);
  color: var(--anchorText);
}

/* Nav */
header.desktop nav {
  max-width: var(--contentDivWidth);
  margin: auto;
  display: flex;
  justify-content: space-between;
}

nav a {
  --anchorText: var(--navText);
  color: var(--anchorText);
  font-size: var(--h5);
}

nav a:hover {
  --anchorText: var(--navHover);
  color: var(--anchorText);
}

/* Misc. */

.git-logo {
  height: var(--h5);
}

.git-logo-light {
  display: none;
}


small {
  color: var(--code);
}

ul {
  padding-left: 1rem;
}

li {
  list-style-type: square;
}

.intro {
  margin-bottom: 2rem;
}

div.summary {
  display: none;
}

.social-links a+a {
  padding-left: 0.5rem;
}

summary {
  display: none;
}

.not-found {
  padding-top: 3rem;
  padding-left: 20%;
}

/* Code Blocks */
code {
  color: var(--code);
  overflow-x: auto;
}

.org-src-container {
  background-color: var(--codeBlocks);
  padding: 3rem;
  border-radius: 5px;
  box-shadow: var(--level-4);
  overflow: auto;
  max-width: var(--contentDivWidth);
  box-shadow: var(--boxShadow);
}

pre {
  padding: 1rem;
}

/* Cards */

.card {
  box-shadow: var(--boxShadow);
  width: var(--cardWidth);
  max-width: 90vw;
  min-height: 20rem;
  background-color: var(--cardBg);
  border-radius: 5px;
}

.card a {
  display: block;
  min-height: 20rem;
}

.card h2 {
  margin: 0;
  font-size: var(--h4);
  border-bottom: 2px solid var(--textColor);
}

.card h3 {
  margin: 0;
  margin-top: 1rem;
  font-size: var(--h5);
}

div.card:hover {
  box-shadow: var(--boxShadowHover);
}

.card img {
  width: var(--cardWidth);
  max-width: 90vw;
  border-radius: 5px;
  max-height: 12rem;
  object-fit: cover;
}

.cards-grid {
  display: flex;
}

.cards {
  width: calc((var(--cardWidth) * var(--cardCols)) + (var(--cardGap) * (var(--cardCols) - 1)));
  display: grid;
  grid-template-columns: repeat(var(--cardCols), 1fr);
  gap: var(--cardGap);
  margin: auto;
  max-width: 90vw;
}



div.card-content {
  padding: 1rem;
}

div.card-content {
  color: var(--cardText);
}

/* Crafter Ring */

.ring-head {
  margin-top: 1rem;
}

.ring-widget a+a {
  padding-left: 4rem;
  text-align: center;
}

.ring-about {
  min-height: 8rem;
  margin-bottom: 0;
}

.ring-desktop {
  display: none;
}

.craftering {
  padding: 1rem;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: end;
  max-width: 20rem;
}

/* Footer */

footer {
  display: none;
}

footer {
  width: 100vw;
  background: var(--footerColor);
  height: 5rem;
}

footer div {
  width: 10rem;
  margin: auto;
}

footer p {
  margin: 0;
  padding-top: 1rem;
}

footer a {
  color: var(--textColor);
}

footer a+a {
  padding-left: 1.8rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 2rem 0;
  padding: 0;
  color: var(--textColor)
}

.list-item {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
}

.list-item:last-child {
  border-bottom: none;
}

.list-content {
  flex: 1;
}

.list-content h2 {
  margin: 0 0 0.25rem;
  font-size: 1.25rem;
  color: var(--anchorColor);
}

.list-content h3 {
  margin: 0 0 0.5rem;
  font-size: 0.9rem;
  color: var(--textColor);
}

.list-content p {
  margin: 0;
  line-height: 1.4;
  color: var(--textColor);
}


@media (min-width: 1000px) {
  .home-header {
    display: block;
    font-size: var(--h3);
  }

  .skills-list {
    font-size: var(--h4);
    margin-top: 2rem;
  }

}

@media (min-width: 1600px) {

  .home-header {
    font-size: var(--h2);
  }

  .skills-list {
    font-size: var(--h4);
  }

  :root {
    --contentDivWidth: 70rem;
  }

  .cards {
    --cardCols: 3;
    width: calc((var(--cardWidth) * var(--cardCols)) + (var(--cardGap) * (var(--cardCols) - 1)));
    grid-template-columns: repeat(var(--cardCols), 1fr);
    gap: var(--cardGap);
  }
}

@media (min-width: 1000px) and (max-width: 1599px) {
  :root {
    --contentDivWidth: 50rem;
  }

  .cards {
    --cardCols: 2;
    width: calc((var(--cardWidth) * var(--cardCols)) + (var(--cardGap) * (var(--cardCols) - 1)));
    grid-template-columns: repeat(var(--cardCols), 1fr);
    gap: var(--cardGap);
  }
}

@media (min-width: 1300px) {

  footer {
    display: block;
  }

  h1 {
    font-size: var(--h1)
  }

  h2 {
    font-size: var(--h2)
  }

  h3 {
    font-size: var(--h3);
  }

  h4 {
    font-size: var(--h4);
  }

  h5 {
    font-size: var(--h5);
  }

  header.desktop {
    display: block;
  }

  header.mobile {
    display: none;
  }

  #mobile-social {
    display: none;
  }

  nav {
    display: block;
  }

  .contentDiv {
    margin-top: var(--headerHeight);
    z-index: -5;
    border-radius: 2px;
    min-height: calc(100vh - var(--headerHeight));
    padding-bottom: 5rem;
  }

  #web-ring {
    padding-bottom: 3rem;
  }

  .ring-desktop {
    display: block;
  }

  #web-ring h2 {
    text-align: center;
    border-bottom: var(--line);
    margin: 0;
    margin-bottom: 1rem;
  }

  .ring-container {
    margin: auto;
    max-width: 40rem;
  }

  .ring-widget {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--h3);
    line-height: var(--h3);
  }

  .ring-widget button {
    background: var(--buttonColor);
    box-shadow: var(--cardShadow);
    color: var(--linkColor);
    border: none;
    cursor: pointer;
  }

  .card img {
    max-width: 20rem;
  }

  h1.mobile-h1 {
    display: none;
  }
}
